<!DOCTYPE html>
<html lang="th">
    <header>
        <title>DEMO</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
            crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    </header>
    <body>
        <h1>This is Qrcode Page</h1>
        <div id="status_text"></div>
        <h1>{{user}}</h1>
        <button type="button" onclick="checkStatus()" name="check_button">Check status</button>
        <script>
            var user = '{{ user }}';
            var user_code = '{{ user_code }}';
            window.onload = function(){
                document.getElementsByName("check_button")[0].disabled = true;
                setTimeout(function(){
                    var element = document.getElementsByName("check_button")[0] ;
                    element.disabled = false;
                }, 15000);
            };
            function checkStatus() {
                var status = document.getElementById("status_text");
                $.ajax({
                    url: "/check-status",
                    headers: { "user": user , "user_code": user_code},
                    type: "GET",
                }).done((response) => {
                    console.log(response['status']);
                    if (response['status'] === 'success') {                            
                        window.location.href = `${window.location.origin}/next`;
                    } else {
                        status.innerHTML = "pending";
                    }
                }).fail((error) =>{
                    console.log(error);
                });
            };
        </script>
    </body>
</html>