<!DOCTYPE html>
<html lang="th">
    <header>
        <title>DEMO</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    </header>
    <body>
        <h1>This is Qrcode Page</h1>
        <h2>Waiting for Status...</h2>
        <h1>{{user}}</h1>
        <script>
            var user = '{{ user }}';
            var user_code = '{{ user_code }}';
            function checkStatus() {
                $.ajax({
                    url: "/check-status",
                    headers: { "user": user , "user_code": user_code},
                    type: "GET",
                }).done((response) => {
                    console.log(response['status']);
                    if (response['status'] === 'success') {                            
                        window.location.href = `${window.location.origin}/next`;
                    }
                }).fail((error) =>{
                    console.log(error);
                });
            }
            setInterval(() => {
                checkStatus();
                console.log(user);
            }, 5000);
        </script>
    </body>
</html>